<header>
  <nav class="bg-white border-gray-200 dark:bg-gray-900">
    <!--<div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
        <a href="https://flowbite.com" class="flex items-center">
            <img src="https://flowbite.com/docs/images/logo.svg" class="h-8 mr-3" alt="Flowbite Logo" />
            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Flowbite</span>
        </a>
        <div class="flex items-center">
            <a href="#" class="text-sm  text-blue-600 dark:text-blue-500 hover:underline">Login</a>
            </div>
    </div>-->
  </nav>
  <!-- th:text="${#numbers.formatDecimal(comptes.solde,0,3)}" -->
  <!-- th:text="${#dates.format(comptes.dateCreation, 'dd-MM-yyyy')}" -->

  <nav class="bg-gray-50 dark:bg-gray-700">
    <div class="max-w-screen-xl px-4 py-3 mx-auto">
      <div class="flex items-center">
        <ul class="flex flex-row font-medium mt-0 mr-6 space-x-8 text-sm">
          <li>
            <a
              href="/comptes"
              class="text-gray-900 dark:text-white hover:underline"
              >Comptes</a
            >
          </li>
          <li>
            <a
              href="/client/showClient"
              class="text-gray-900 dark:text-white hover:underline"
              >Clients</a
            >
          </li>
        </ul>
        <ul>
          <li>
            <a
              th:href="@{/login?logout}"
              class="text-gray-900 dark:text-white hover:underline"
              >Se Deconnecter</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
