<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="dashboard/layout.html"
>
  <body>
    <section layout:fragment="content">
      <div class="px-4 sm:px-6 lg:px-8">
        <div class="sm:flex sm:items-center">
          <div class="sm:flex-auto">
            <h1 class="text-xl font-semibold text-gray-900">Accounts</h1>
            <p class="mt-2 text-sm text-gray-700">
              A list of all the clients account in your account including their
              name, and balance ...
            </p>
          </div>
          <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
            <a
              th:href="@{/comptes/addCourant}"
              type="button"
              class="inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto"
            >
              New Current
            </a>
            <a
              th:href="@{/comptes/addEpargne}"
              type="button"
              class="inline-flex items-center justify-center rounded-md border border-transparent bg-violet-700 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto"
            >
              New Savings
            </a>
          </div>
        </div>
        <span
          class="mt-4 flex items-center w-62 justify-center text-xl items-center font-medium text-gray-50 bg-indigo-600 px-2 py0.5 rounded-md block"
          >Balance: <span th:text="${totale}" class="ml-2"></span>
          <span class="ml-2">TND</span></span
        >

        <!-- Success message -->
        <div th:if="${success}">
          <!-- This example requires Tailwind CSS v2.0+ -->
          <div class="rounded-md bg-indigo-200 p-4 mt-2">
            <div class="flex">
              <div class="flex-shrink-0">
                <!-- Heroicon name: solid/information-circle -->
                <svg
                  class="h-5 w-5 text-indigo-600"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
                    clip-rule="evenodd"
                  />
                </svg>
              </div>
              <div class="ml-3 flex-1 md:flex md:justify-between">
                <p class="text-sm text-indigo-800">
                  Account
                  <span class="font-medium" th:text="${name}"></span> saved
                  successfully!
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-8 flex flex-col">
          <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div
              class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8"
            >
              <div
                class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg"
              >
                <table id="lc" class="min-w-full divide-y divide-gray-300">
                  <thead class="bg-gray-50">
                    <tr>
                      <th
                        scope="col"
                        class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6"
                      >
                        Account id
                      </th>
                      <th
                        scope="col"
                        class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                      >
                        Client name
                      </th>
                      <th
                        scope="col"
                        class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                      >
                        Type
                      </th>
                      <th
                        scope="col"
                        class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                      >
                        Created at
                      </th>
                      <th
                        scope="col"
                        class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                      >
                        Balance
                      </th>
                      <th
                        scope="col"
                        class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                      >
                        Taux
                      </th>

                      <th
                        scope="col"
                        class="relative py-3.5 pl-3 pr-4 sm:pr-6"
                      ></th>
                    </tr>
                  </thead>
                  <tbody
                    th:each="comptes:${comptes}"
                    class="divide-y divide-gray-200 bg-white"
                  >
                    <tr>
                      <td
                        class="whitespace-nowrap flex justify-between items-center py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"
                      >
                        <span th:text="${comptes.codeCompte}"></span>
                        <img
                          class="h-10 w-10 rounded-full"
                          th:attr="src=@{https://ui-avatars.com/api/?background=0D8ABC&color=fff&name=__${comptes.client.nom}__}"
                          alt=""
                        />
                      </td>
                      <td
                        th:text="${comptes.client.nom}"
                        class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"
                      ></td>
                      <td
                        class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"
                      >
                        <span
                          th:if="${comptes instanceof T(com.example.demo.entities.CompteCourant)}"
                          >Current account</span
                        >
                        <span
                          th:if="${comptes instanceof T(com.example.demo.entities.CompteEpargne)}"
                          >Saving account</span
                        >
                      </td>

                      <td
                        th:text="${#dates.format(comptes.dateCreation, 'dd-MM-yyyy')}"
                        class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"
                      ></td>
                      <td
                        class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"
                      >
                        <span
                          class="bg-black px-2 py-0.5 text-white font-medium rounded-md"
                        >
                          <span
                            th:text="${#numbers.formatDecimal(comptes.solde,0,3)}"
                          ></span>
                          TND</span
                        >
                      </td>
                      <td
                        th:text="${#numbers.formatDecimal(comptes.solde,0,3)}"
                        class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"
                      ></td>
                      <td
                        class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6"
                      >
                        <a
                          th:href="@{/account?codeCompte={id} (id=${comptes.codeCompte})}"
                          class="text-indigo-600 hover:text-indigo-900"
                          >Edit</a
                        >
                      </td>
                    </tr>

                    <!-- More people... -->
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script>
      function confirmDelete() {
        return confirm("Are you sure you want to delete this client?");
      }
    </script>
  </body>
</html>
